
/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.historico {
    margin-bottom: 30px;
}

.historico-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .historico-table th,
    .historico-table td {
        padding: 8px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .historico-table th {
        background-color: #f8f8f8;
        color: #333;
    }

.btn-print {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

    .btn-print:hover {
        background-color: #45a049;
    }
/* Estilos para a impressão */
@media print {
    body {
        background-color: white;
        color: black;
        margin: 0;
        padding: 0;
    }

    .container {
        box-shadow: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    h1 {
        text-align: center;
        font-size: 22px;
    }

    .historico-table th, .historico-table td {
        font-size: 14px;
        padding: 10px;
    }

    .btn-print {
        display: none; /* Oculta o botão de imprimir na impressão */
    }
}
